<#@ template language="C#" #>
<#@ assembly name="System.Core" #>
<#@ import namespace="TesTool.Core.Models.Templates.Factory" #>
public <#=Method.Name#> <#=Method.Name#>() => new();
<#+ 
    public ComparatorFactoryMethod Method { get; set; } 
#>
