<#@ template language="C#" #>
<#@ assembly name="System.Core" #>
<#@ import namespace="TesTool.Core.Extensions" #>
<#@ import namespace="TesTool.Core.Models.Templates.Faker" #>

[Fact]
public virtual async Task <#=Name#>()
{
<# 
    foreach (var entity in Entities) 
    { 
#>
    var <#=entity.Variable#> = EntityFactory.<#=entity.Name#>().Generate();
<# 
    } 
#>
<# 
    foreach (var model in Models) 
    { 
#>
    var <#=model.Variable#> = ModelFactory.<#=model.Name#>().Generate();
<# 
    }
#>
}
<#+
    public string Name { get; set; }
    public FakerDeclaration[] Entities { get; set; }
    public FakerDeclaration[] Models { get; set; }
#>