<#@ template language="C#" #>
<#@ assembly name="System.Core" #>
<#@ import namespace="TesTool.Core.Models.Templates.Factories" #>
public <#=Method.Faker#> <#=Method.Name#>() => new(_context);
<#+ 
    public EntityFakerFactoryMethod Method { get; set; } 
#>
