<#@ template language="C#" #>
<#@ assembly name="System.Core" #>
<#@ import namespace="TesTool.Core.Models.Templates.Factories" #>
public <#=Method.Faker#> <#=Method.Name#>() => new();
<#+ 
    public ModelFakerFactoryMethod Method { get; set; } 
#>
